/* navbar */

nav {
    background-color: #333;
    padding: 10px;
}
  
nav a {
color: #fff;
text-decoration: none;
padding: 8px 12px;
margin-right: 10px;
border-radius: 4px;
transition: background-color 0.3s ease;
}

nav a:hover {
background-color: #555;
}

nav a.active {
background-color: #555;
}


  /* general styles */

body {
    margin: 0;
    height: 100vh;
    background: url(img/bg-image.jpeg) no-repeat center center / cover;
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

#task-container {
    height: 45vh;
    overflow: auto;
}

#add-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px 0;
    width: 50vw;
    max-width: 500px;
}

input {
    flex: 5;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
}

#add-task {
    transition: .3s;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: #fff;
    color: #19c986;
    border: 2px solid #19c986;
    width: 45px;
}

#add-task:hover {
    background: #19c986;
    color: #fff;
}

.hidden {
    display: none;
}


/* Styling for to-do list tasks */

.task {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 800px;
}

.task li {
    list-style: none;
    flex: 4;
    font-size: 1.2rem;
    padding: 10px;
    width: 75%;
    margin: 0 10px;
}

.task button {
    transition: .3s;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: #fff;
    width: 45px;
    height: 45px;
}

.task .checkTask {
    background: #19c986;
    color: #fff;
    border: 2px solid #19c986;
    font-size: 1.4rem;
    margin-right: 10px;
}


.task .checkTask:hover {
    background: #fff;
    color: #19c986;
}

.task .unchecked {
    background: #fff;
    color: #19c986;
    border: 2px solid #19c986;
    font-size: 1.4rem;
    margin-right: 10px;
}


.task .unchecked:hover {
    background: #19c986;
    color: #fff;
}


.task .deleteTask {
    background: #b61717;
    color: #fff;
    border: 2px solid #b61717;
    font-size: 1.4rem;
}

.task .deleteTask:hover {
    background: #fff;
    color: #b61717;
}

.task .redoTask {
    background: #ffc107;
    color: #fff;
    border: 2px solid #ffc107;
    font-size: 1.4rem;
  }

#completed-tasks-container {
    position: absolute;
    top: 65vh;
    width: 90vw;
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    padding: 20px 0;
    margin: 40px 0;
    overflow: auto;
}

#completed-tasks-container .task {
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0px;
}